<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UEEProject"
        tools:targetApi="31">
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".deleteAccount"
            android:exported="false" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateUserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".profileActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".BiddedItemsActivity"
            android:exported="false" />
        <activity
            android:name=".OngoingAuctions"
            android:exported="false" />
        <activity
            android:name=".DisplaysellingItemsToBuyers"
            android:exported="false" />
        <activity
            android:name=".AddItems"
            android:exported="false" />
        <activity
            android:name=".EditSellItem"
            android:exported="false" />
        <activity
            android:name=".SellItemsDisplay"
            android:exported="false" />
        <activity
            android:name=".EditItemActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayAllSellers"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayItemsActivity"
            android:exported="false" />
        <activity
            android:name=".SellerDetails"
            android:exported="false" />
        <activity
            android:name=".AddToAuction"
            android:exported="false" />
        <activity
            android:name=".ItemDetailsActivity"
            android:exported="false" /> <!-- Pasindu -->
        <activity
            android:name=".VerificationActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Comps" />
        <activity
            android:name=".VerificationAdapter"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Comps" />
        <activity
            android:name=".EditCompsActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentCompsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCompsActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Comps" />
    </application>

</manifest>